body {
    color: white;
    text-align: center;
    }

.main-container {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

 h1 {
    background-color: rgb(252, 22, 22);
    width: 100%;
    margin: 0;
}

.main-container p {
    background-color: rgb(79, 198, 238);
    height: 200px;
    width: 100%;
    margin: 0;

}

.main-container #right {
    background-color: pink;
    width: 100%;
}

.main-container #left {
    background-color: rgb(3, 150, 3);
    width: 100%;
}    

footer {
    background-color: rgb(72, 54, 88);
    width: 100%;

}

@media screen and (min-width: 992px) {
    h1,
    #left 
    footer {
        width: 100%;
    }
    .main-container #right, 
    .main-container #left {
        width: 20%;
    }

    .main-container #left {
        order: 1;
    }

    .main-container #right {
        order: 3;
    }
    .main-container p {
        width: 60%;
        order: 2;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    h1, 
    #left, 
    footer {
        width: 100%;
    }
    .main-container p {
        width: 80%;
    }
    .main-container #right {
        width: 20%;
    }
}
